@use "../foundation/" as f;
@use "sass:color"; // color.adjust()を使うのに必須

.hamburger {
  display: none; // PCファーストで作成したので基本は非表示
  @include f.mq(md) {
    display: block; // 768px以下で表示
  }
}

.hamburger__btn {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background: none;
  @include f.hover {
    .hamburger__line {
      background-color: color.adjust(f.$main-color-1, $lightness: 10%);
    }
  }
  &.is-active .hamburger__line:nth-child(1) {
    top: 24px;
    transform: rotate(45deg);
  }
  &.is-active .hamburger__line:nth-child(2) {
    opacity: 0;
  }
  &.is-active .hamburger__line:nth-child(3) {
    top: 24px;
    transform: rotate(-45deg);
  }
}

.hamburger__line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: f.$base-color-1;
  transition: all 0.3s ease;
  &:nth-child(1) {
    top: 12px;
  }
  &:nth-child(2) {
    top: 23px;
  }
  &:nth-child(3) {
    top: 34px;
  }
}

// メニュー本体。JSでclassつけ外してCSSアニメーション
.drawer__menu {
  background-color: f.$base-color-1;
  position: fixed;
  right: 0; // スタイル調整用。普段は100%にして右側に隠しておく
  width: 88vw;
  top: 6.766rem;
  z-index: 100;
  height: calc(100vh - 6.5rem);
  padding: f.sp(16);
  transform: translateX(100%);
}

// 黒い背景
.drawer__bg {
  display: none; // jsでdisplay: blockに変更
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  top: 6.766rem;
  background: rgba(60, 60, 60, 0.8);
}
