@use "../foundation/" as f;

.header {
  background-color: f.$main-color-1;
  position: sticky;
  z-index: f.zi("header");
  width: 100%;
  top: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: f.sp(16) 0;
  @include f.mq(md) {
    padding: f.sp(8) 0;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__link--wrap {
  margin-right: f.sp(32);
  @include f.mq(lg) {
    display: none;
  }
}

.header__list {
  display: flex;
  margin-right: f.sp(32);
}

.header__logo {
  img {
    width: 135px;
    display: block;
    @include f.mq(md) {
      width: 100px;
    }
  }
}

.header__nav {
  position: absolute;
  z-index: f.zi("header__nav"); // ハンバーガーメニューがいるので一番上に配置
  top: f.sp(8); // 新規登録・ログインのボタン配置
  right: f.sp(16);
  display: flex;
  align-items: center;
  @include f.mq(md) {
    top: f.sp(4); // ハンバーガーメニューの配置調整
  }
}

.header__buttons--wrap {
  display: flex;
  @include f.mq(md) {
    display: none; // ハンバーガーメニューに切り替えるため
  }
  a {
    margin-right: f.sp(16);
    &:last-child {
      margin-right: 0;
    }
  }
}
