@use "../foundation/" as f;

.page-detail {
  // section hero
  .hero {
    width: 100%;
    height: 40vh;
    background-image: url(../../images/detail-kv.jpg);
    background-repeat: no-repeat;
    background-position: 30% 60%;
    background-size: cover;
    @include f.mq(sm) {
      height: 30vh;
    }
  }
}
