@use "../foundation/" as f;

.page-detail {
  // section hero
  .hero {
    width: 100%;
    height: 40vh;
    background-image: url(../../images/detail-kv.jpg);
    background-repeat: no-repeat;
    background-position: 30% 60%;
    background-size: cover;
    @include f.mq(sm) {
      height: 30vh;
    }
  }

  // section detail
  .detail {
    background-color: f.$base-color-1;
    padding: f.sp(104) 0;
  }

  // 詳細画面のフォーム。一覧と違って長いタイトルや本文があるので
  // 見切れないようにwidthを上書きして幅を広げている
  .detail__id-text {
    width: 33rem;
    height: 3.5rem;
    margin-top: f.sp(16);
    text-align: left;
  }
  .detail-form__item {
    @include f.form-item;
    width: 33rem;
  }
  .detail-form__label {
    @include f.form-label;
    width: 33rem;
  }
  .detail-form__select {
    @include f.select($width: 33rem);
  }
  .detail-form__input {
    @include f.textarea($width: 33rem, $height: 8.4rem);
    // 中の要素の大きさに応じて変化
    // タイトル部分。見切れ防止でtextarea要素に変更
  }
  .detail-form__textarea {
    @include f.textarea($width: 33rem);
  }
  .is-error-text {
    margin-top: f.sp(8);
  }

  .detail__buttons {
    margin-top: f.sp(24);
    display: flex;
    gap: f.sp(24);
    justify-content: center;
    @include f.mq(md) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  .detail__back-link {
    color: f.$text-color-2;
    margin-top: f.sp(40);
    font-size: f.fs(18);
    text-decoration: underline;
    transition: all 0.3s ease;
    @include f.hover {
      color: f.$main-color-2;
    }
  }
}
