@use "../foundation/" as f;

// 他のページと交わらないようにスコープ内でスタイル定義
.page-home {
  // section hero
  .hero {
    // padding: f.sp(80) 0;
    background: url(../../images/hero.jpg) no-repeat 50% 35% / cover;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #000;
      opacity: 0.3;
      z-index: 2;
    }
  }
  .hero__title {
    color: f.$base-color-1;
    font-size: f.fs(56);
    padding-top: f.sp(200);
    position: relative;
    z-index: 3;
  }
  .hero__text {
    color: f.$base-color-1;
    font-size: f.fs(18);
    margin-top: f.sp(24);
    line-height: 1.5;
    position: relative;
    z-index: 3;
  }
  .hero__actions {
    margin-top: f.sp(32);
    padding-bottom: f.sp(160);
    position: relative;
    z-index: 3;
    a:first-child {
      margin-right: f.sp(16);
    }
  }

  // section search
  .search {
    background-color: f.$base-color-2;
    padding: f.sp(104) 0;
  }

  .search-form__item {
    width: fit-content;
    margin-top: f.sp(16);
  }
  .search-form__label {
    display: block;
    text-align: left;
  }
  .search-form__select {
    width: 30rem;
    height: 3.5rem;
    margin-top: f.sp(4);
    border: 1px solid #aaa;
    border-radius: 30px;
    padding-left: f.sp(8);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* 少し跳ねるような動き */
    &:focus {
      border: 2px solid f.$text-color-1;
      box-shadow:
        0 16px 26px rgba(142, 197, 232, 0.2),
        0 0 0 14px rgba(142, 197, 232, 0.1);
    }
  }
  .search-form__input {
    width: 30rem;
    height: 3.5rem;
    margin-top: f.sp(4);
    border: 1px solid #aaa;
    border-radius: 30px;
    padding-left: f.sp(8);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* 少し跳ねるような動き */
    &:focus {
      border: 2px solid f.$text-color-1;
      transform: scale(1.05);
      box-shadow:
        0 10px 20px rgba(142, 197, 232, 0.2),
        0 0 0 8px rgba(142, 197, 232, 0.1);
    }
    &:focus.is-error {
      box-shadow:
        0 10px 20px rgba(244, 162, 97, 0.2),
        0 0 0 8px rgba(244, 162, 97, 0.1);
    }
  }
  .search-form__textarea {
    width: 30rem;
    height: 15.6rem;
    margin-top: f.sp(4);
    border: 1px solid #aaa;
    border-radius: 30px;
    resize: none;
    padding: f.sp(12);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* 少し跳ねるような動き */
    &:focus {
      border: 2px solid f.$text-color-1;
      transform: scale(1.03);
      box-shadow:
        0 10px 20px rgba(142, 197, 232, 0.2),
        0 0 0 8px rgba(142, 197, 232, 0.1);
    }
    &:focus.is-error {
      box-shadow:
        0 10px 20px rgba(244, 162, 97, 0.2),
        0 0 0 8px rgba(244, 162, 97, 0.1);
    }
  }
  .search-form__optional {
    display: inline-block;
    padding: f.sp(4) f.sp(8);
    color: f.$base-color-1;
    background-color: f.$main-color-2;
    margin-left: f.sp(8);
    border-radius: 12px;
  }
  .search-form__msg {
    font-size: f.fs(12);
    margin-top: f.sp(4);
    text-align: left;
  }
  .c-button--submit {
    font-size: f.fs(24);
    margin-top: f.sp(16);
    border-radius: 20px;
  }
  #errSummary {
    scroll-margin-top: 200px; //エラー表示でフォーカスする場所の調整
  }

  // section search-result
  .search-result {
    background-color: f.$base-color-1;
    padding: f.sp(104) 0;
  }
  .search-result__list {
    margin-top: f.sp(32);
  }

  // section features
  .features {
    background-color: f.$base-color-2;
    padding: f.sp(104) 0;
  }

  .features__card-container {
    margin-top: f.sp(32);
    display: flex;
    gap: f.sp(32);

    @include f.mq(lg) {
      flex-direction: column;
      flex: 1 0 auto;
    }
  }

  // 全カード共通の基本設定
  .features-card {
    border: 1px solid f.$text-color-2;
    border-radius: 16px;
    background-color: f.$base-color-1;
    overflow: hidden;
    display: flex; // 基本をフレックスに
    justify-content: space-between;

    // 【1024px以下】 大小どちらも横並びに統一
    @include f.mq(lg) {
      flex-direction: row;
    }

    // 【576px以下】 大小どちらも縦並びに統一
    @include f.mq(sm) {
      flex-direction: column;
    }
  }

  .features-card__text {
    padding: f.sp(12);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%; // デフォルトは半分

    @include f.mq(sm) {
      width: 100%;
    }
  }

  .features-card__image {
    width: 50%; // デフォルトは半分

    @include f.mq(sm) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 3 / 2;
    }
  }

  // 個別スタイルの上書き
  .features-card--big {
  }

  .features-card--small {
    // 1025px以上のみ縦並びにする
    flex-direction: column;

    .features-card__text,
    .features-card__image {
      width: 100%; // 1025px以上では全幅
    }

    // 1024px以下になったら横並び（50%）に戻す
    @include f.mq(lg) {
      flex-direction: row;
      .features-card__text,
      .features-card__image {
        width: 50%;
      }
    }

    // 576px以下になったら再度縦並び（100%）
    @include f.mq(sm) {
      flex-direction: column;
      .features-card__text,
      .features-card__image {
        width: 100%;
      }
    }
  }

  .features-card__label {
    font-size: f.fs(16);
    line-height: 1.5;
    font-weight: 600;
  }
  .features-card__title {
    font-size: f.fs(24);
    line-height: 1.5;
  }
  .features-card__caption {
    font-size: f.fs(16);
    line-height: 1.5;
  }
  .features-card__more {
    font-size: f.fs(18);
    line-height: 1.5;
    margin-top: f.sp(8);
    padding-right: f.sp(24);
    text-align: right;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 1px;
      rotate: 40deg;
      background-color: f.$text-color-2;
      margin-right: f.sp(8);
      position: absolute;
      top: 42%;
      right: 0;
    }
    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 1px;
      rotate: 140deg;
      background-color: f.$text-color-2;
      margin-right: f.sp(8);
      position: absolute;
      top: 60%;
      right: 0;
    }
  }

  .features-img2,
  .features-img3 {
    object-position: 50% 10%;
  }
  .features-img1 {
    @include f.mq(lg) {
      object-position: 50% 5%;
    }
  }

  // section testimonials
  .testimonials {
    background-color: f.$base-color-1;
    padding: f.sp(104) 0;
  }
  .testimonials__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: f.sp(18);
    margin-top: f.sp(32);
  }
  .testimonials-card {
    display: flex;
    flex: 0 1 40rem;
    flex-direction: column;
    background-color: #fff;
    border: #aaa solid 1px;
    border-radius: 12px;
    padding: f.sp(16);
    @include f.mq(lg) {
      flex: 0 1 36rem;
    }
  }
  .testimonials-card__stars {
    display: block;
    color: f.$star-color;
    font-size: f.fs(18);
  }
  .testimonials-card__evaluation {
    color: f.$text-color-2;
    font-size: f.fs(18);
    margin-left: f.sp(8);
  }
  .testimonials-card__title {
    color: f.$text-color-2;
    margin-top: f.sp(16);
    font-size: f.fs(24);
  }
  .testimonials-card__text {
    font-size: f.fs(16);
    margin-top: f.sp(16);
    padding-bottom: f.sp(16);
    line-height: 1.5;
  }
  .testimonials-card__user {
    display: flex;
    align-items: center;
    margin-top: f.sp(16);
    margin-top: auto;
  }
  .testimonials-card__avatar img {
    width: 10rem;
    height: auto;
    border-radius: 50%;
  }
  .testimonials-card__info {
    margin-left: f.sp(24);
  }
  .testimonials-card__name {
    display: block;
  }
  .testimonials-card__position {
    display: block;
    margin-top: f.sp(8);
  }

  // section gallery
  .gallery {
    background-color: f.$base-color-1;
    padding: f.sp(104) 0;
  }
  .gallery__grid {
    display: grid;
    grid-template:
      "areaA areaC areaD areaF areaH" 1fr
      "..... areaC ..... ..... ....."
      "areaB areaC areaE areaG areaI" 1fr
      / 1fr 2fr 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: f.sp(32);
  }
  .gallery__grid img {
    max-width: 100%;
  }
  .gallery__item1 {
    grid-area: areaC;
  }
  .gallery__item2 {
    grid-area: areaA;
  }
  .gallery__item3 {
    grid-area: areaB;
  }
  .gallery__item4 {
    grid-area: areaD;
  }
  .gallery__item5 {
    grid-area: areaE;
  }
  .gallery__item6 {
    grid-area: areaF;
  }
  .gallery__item7 {
    grid-area: areaG;
  }
  .gallery__item8 {
    grid-area: areaH;
  }
  .gallery__item9 {
    grid-area: areaI;
  }
}
