@use "../foundation/" as f;
@use "sass:color"; // color.adjust()を使うのに必須

// ボタンデザイン

// 共通のスタイルをc-buttonに書く
.c-button {
  padding: f.sp(16) f.sp(24);
  border-radius: 30px;
  display: inline-block;
  font-size: f.fs(16);
  transition: all 0.3s ease;
  min-width: 10rem;
  max-width: 40rem;
  user-select: none;
  @include f.hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  @include f.mq(md) {
    width: 95%;
  }
}

.c-button--primary {
  background-color: f.$main-color-2; // 濃いめの青
  color: f.$base-color-1;
  transition: all 0.3s ease;
  @include f.hover {
    background-color: color.adjust(f.$main-color-2, $lightness: 10%);
    // lighten(f.$main-color-2, 10%);は古い書き方。
  }
}

.c-button--secondary {
  background-color: f.$base-color-1;
  color: f.$text-color-2;
  transition: all 0.3s ease;
  @include f.hover {
    background-color: color.adjust(f.$base-color-1, $lightness: -10%);
    // darken(f.$base-color-1, 10%);darkenではなく明るさをマイナスにするという考え方。
  }
}

// index.htmlに設置したフォームの「検索」ボタンスタイル
.c-button--submit {
  @include f.form-submit;
}
