@use "../foundation/" as f;
// section search-resultにあらかじめ用意してあるul要素
// JSで作った要素をこの子要素として追加する
.search-result__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 3rem;
  padding: f.sp(18);
}
// 「 grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));」について
// repeat()の第一引数は繰り返す数
//（auto-fillなので要素があるだけ入れていく）
// 第二引数は要素の大きさ。
// minmax(280px, 1fr)なので最小280pxを守りながら
// 一行に入るだけ並べていく。
// 入りきらなければ次の行に入れていく。

// .search-result__itemの子要素のaタグ
.post-card {
  background: #fff;
  border-radius: 20px;
  padding: f.sp(16) f.sp(16) f.sp(32) f.sp(16); /* 下を広めにしてチェキ風に */
  box-shadow: 8px 8px 0px f.$main-color-1; /* ぼかさないポップな影 */
  border: 2px solid f.$text-color-2;
  transition: transform 0.2s ease;
  cursor: pointer;
  position: relative;
  @include f.hover {
    transform: translateY(-5px) rotate(2deg);
  }
}

// img要素と投稿IDをまとめるdiv
.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* 正方形で統一 */
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid f.$text-color-2;
  text-align: center;
}

// 画像
.image-wrapper img {
  width: 100%;
  height: 100%;
}

// .image-wrapperの子要素のspanタグ（投稿IDを表示）
.post-card__id {
  position: absolute;
  top: 10px;
  left: 10px;
  background: f.$main-color-2;
  color: f.$base-color-1;
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: f.fs(14);
  border: 2px solid f.$text-color-2;
  z-index: f.zi("post-card__id");
}

// カードの活字部分をまとめる親要素
.post-card__content {
  margin-top: f.sp(16);
}

// 投稿のタイトル
.post-card__title {
  margin-top: f.sp(8);
  font-size: f.fs(18);
  line-height: 1.4;
  color: f.$text-color-2;
  /* 2行以上は省略する設定 */
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

// 本文
.post-card__body {
  color: f.$text-color-2;
  font-size: f.fs(16);
  font-weight: bold;
  margin-top: f.sp(8);
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
