@use "../foundation/" as f;
// section search-resultにあらかじめ用意してあるul要素
// JSで作った要素をこの子要素として追加する
.search-result__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 3rem;
  padding: f.sp(18);
}

// JSで追加されるli要素
.search-result__item {
}

// .search-result__itemの子要素のaタグ
.post-card {
  background: #fff;
  border-radius: 20px;
  padding: f.sp(16) f.sp(16) f.sp(32) f.sp(16); /* 下を広めにしてチェキ風に */
  box-shadow: 8px 8px 0px f.$main-color-1; /* ぼかさないポップな影 */
  border: 2px solid f.$text-color-2;
  transition: transform 0.2s ease;
  cursor: pointer;
  position: relative;
  &:hover {
    transform: translateY(-5px) rotate(2deg);
  }
}

// img要素と投稿IDをまとめるdiv
.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* 正方形で統一 */
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid f.$text-color-2;
  text-align: center;
}

// 画像
.image-wrapper img {
  width: 100%;
  max-width: 350px;
  height: 100%;
}

// .image-wrapperの子要素のspanタグ（投稿IDを表示）
.post-card__id {
  position: absolute;
  top: 10px;
  left: 10px;
  background: f.$main-color-2;
  color: f.$base-color-1;
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: f.fs(14);
  border: 2px solid f.$text-color-2;
  z-index: 1;
}

// カードの活字部分をまとめる親要素
.post-card__content {
  margin-top: f.sp(16);
}

// 投稿のタイトル
.post-card__title {
  margin-top: f.sp(8);
  font-size: f.fs(18);
  line-height: 1.4;
  color: f.$text-color-2;
  /* 3行以上は省略する設定 */
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.post-card__user-id {
}

// 本文
.post-card__body {
  color: f.$text-color-2;
  font-size: f.fs(16);
  font-weight: bold;
  margin-top: f.sp(8);
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
