@use "../foundation/" as f;

.section__title {
  font-size: f.fs(48);
  line-height: 1.2; // スマホサイズで改行したときに見やすくなるように
}
.section__sub-title {
  font-size: f.fs(18);
  margin-top: f.sp(24);
  line-height: 1.5;
}
